.uv .centerPanel .content {

.iiif-av-component {

    @highlight-color: #14a4c3;

    position: relative;
    overflow: hidden;

    // .player {
    //     &.virtual {
    //         border: 1px solid blue;
    //     }
    // }

    .poster-container {
        position: absolute;
        width: 100%;
        top: 0;

        .poster-image {
            position: absolute;
            background-color: #000;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            cursor: pointer;

            .btn {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .canvas-container {
        position: relative;
        width: 100%;
    }

    .canvas-container .working-indicator {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background: rgba(0,0,0,.7);
        color: #fff;
        text-align: center;
        padding-top: 30%;
        box-sizing: border-box;
        font-size: 20px;
    }

    .canvas-container .anno {
        position: absolute;
        /*border: 1px solid rgba(0,255,0,.4);*/
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
    }

    .range-timeline-container {
        background: @highlight-color;
        height: 4px;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }

    .canvas-timeline-container {
        background: #AFAFAF;
        height: 4px;
        width: 0px;
        border: none;
        cursor: pointer;
    }

    .hover-preview {
        position: absolute;
        z-index: 1;
        padding-bottom: 7px;

        .label {
            background: rgba(66, 66, 66, 0.85);
            height: 25px;
            padding: 5px;
            color: #fff;
            pointer-events: none;
        }
        
        .pointer {
            height: 6px;
            position: relative;

            .arrow {
                position: absolute;
                top: 0px;
                left: 0px;
                border-top: 6px solid rgba(66, 66, 66, 0.85);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
            }
        }
    }

    .hover-highlight {
        position: absolute;
        background: rgb(226, 226, 226);
        height: 4px;
    }

    .canvas-timeline-container {
        border-radius: 0;
    }

    .canvas-timeline-container .duration-highlight {
        position: absolute;
        background: @highlight-color;
        height: 4px;
    }

    .timeline-item-container {
        position: relative;
        width: 100%;
        min-height: 6px;
        background: #cfcfcf;
        top: 0px;
        padding-bottom: 3px;
    }

    .timeline-item-container .line-wrapper {
        margin-top: 2px;
    }

    .timeline-item-container .timeline-item {
        position: relative;
        height: 6px;
        box-sizing: border-box;
        border-right: 1px solid #efefef;
        border-left: 1px solid #efefef;
        background: #777;
    }

    .timeline-item-container .timeline-item.active {
        background: #333;
    }

    .canvas-timeline-container .ui-slider-range {
        .ui-slider-range-scrub();
    }

    .canvas-timeline-container .ui-slider-handle {
        .circular-slider-handle();
    }

    .range-timeline-container .ui-slider-range {
        .ui-slider-range-scrub();
    }

    .range-timeline-container .ui-slider-handle {
        .circular-slider-handle();
    }

    // .ui-slider-handle:after {
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     content: "";
    //     border-top: 12px solid #000000;
    //     border-left: 8px solid transparent;
    //     border-right: 8px solid transparent;
    // }

    .controls-container {
        overflow: hidden;
        margin-top: 5px;
        height: 36px;
    }

    .controls-container .btn{
        float: left;
    }

    .controls-container .pause-button {
        margin-right: 14px;
    }

    .controls-container .time-display {
        float: left;
        padding: 8px 0px 0 10px;
        color: rgba(255, 255, 255, 0.5);
        min-width: 150px;
        font-size: 14px;

        .canvas-time {
            color: #fff;
        }
    }

    .controls-container .volume {
        float: left;
        overflow: hidden;
        width: 180px;
    }

    .controls-container .volume .volume-mute {
        float: left;
        padding-left: 0px;
        padding-right: 2px;
    }

    .controls-container .volume .volume-slider {

        float: left;
        margin-top: 12px;
        width: 84px;
        height: 6px;
        border: none;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.25);
        
        .ui-slider-handle {
            width: 1px;
            .ui-slider-handle-hidden();
        }

        .ui-slider-range {
            .ui-slider-range-scrub();
            background-color: #fff;
        }
    
    }

    .btn {
        font-size: 0;
        background: 0 0;
        border: 0;

        i {
            background-repeat: no-repeat;
            display: inline-block;
            height: 30px;
            vertical-align: middle;
            width: 30px;
            cursor: pointer;
        }
        &:focus .av-icon,
        &:focus .uv-icon {
            opacity: 1;
        }
    }

    .av-icon-mute {

        &.on {
            background-image: data-uri('@{img-path}volume-on.png');
        }

        &.off {
            background-image: data-uri('@{img-path}volume-off.png');
        }
    }

    .av-icon-previous {
        background-image: data-uri('@{img-path}previous.png');
    }

    .av-icon-play {

        &.play {
            background-image: data-uri('@{img-path}play.png');
        }

        &.pause {
            background-image: data-uri('@{img-path}pause.png');
        }
        
    }

    .av-icon-next {
        background-image: data-uri('@{img-path}next.png');
    }

    .av-icon-expand {

        &.expand {
            background-image: data-uri('@{img-path}expand.png');
        }

        &.collapse {
            background-image: data-uri('@{img-path}collapse.png');
        }
        
    }

}

// mixins

.ui-slider-range-scrub() {
    background: rgba(66, 66, 66, 0.5);
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    //border-right: 2px solid #000000;
    //.opacity(.6);
}

.circular-slider-handle() {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -2px;
    border: none;
    border-radius: 8px;
    background-color: @highlight-color;
    z-index: 2;

    cursor: pointer;

    &:focus {
        outline-width: 0;
    }
}

.ui-slider-handle-hidden() {
    top: 0px;
    height: 100%;
    width: 1px;
    margin-left: -8px;
    background: transparent;
    border: none;
    z-index: 1;

    cursor: pointer;

    &:focus {
        outline: none;
    }
}

}
