body {
    margin: 0px;
    padding: 50px 0 0 0;
    overflow-x: hidden;
    font-family: "Gill Sans", sans-serif;
}

nav {
    background-color: #212121;
    position: fixed;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    font-size: 20px;
}

nav h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 13px 0 0 20px;
    letter-spacing: 2px;    
}

#uv {
    /*display: none;*/
    height: 480px;
}

iiif-gallery {
    margin: 20px auto;
    width: 90%;
}

@media screen and (max-width: 800px) {
    iiif-gallery-item {
        width:calc(50% - 8px);
    }
}

/* 

bootstrap fixes

#uv .close {
    opacity: 1;
}

#uv .label {
    display: block;
    line-height: 17px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
} 

*/